/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  margin-top: 50px;
  text-align: center;
  background-color: #ccffee;
}

img {
  max-width: 80%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
